form {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 150px 250px;
    background: #E3E6F3;
    background-color: white;
    align-items: center;
}

form div label{
    color: #2c3661;
    font-size: 20px;
}

form h1 {
    color: #2c3661;
}

form input {
    padding: 10px 50px;
}

form button {
    margin-top: 10px;
}